@import "application"

#notes-container
  width 100%
  height 100%
  padding 6px 18px
  font-family Cardo, Georgia, Serif
  overflow scroll
  position relative
  
  & *
    font-family Cardo, Georgia, Serif
    max-width 100%
  
  .notes-icon-bar
    position absolute
    top 6px
    right 18px
    display flex
    display -webkit-flex