@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,700,500,900");
* {
  box-sizing: border-box;
  font-family: Roboto;
  transition: all 0.5s ease;
}
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#app,
#content {
  width: 100%;
  height: 100%;
}
#chat-container {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
#chat-container #chat-header {
  height: 64px;
  flex-grow: 0;
  padding-left: 12px;
  display: flex;
  display: -webkit-flex;
}
#chat-container #chat-header .header-body {
  flex-grow: 1;
}
#chat-container #chat-header .header-body .chat-title {
  margin-top: 12px;
  line-height: 26px;
  font-size: 24px;
  font-weight: 700;
}
#chat-container #chat-header .header-body .chat-meta {
  margin-top: 4px;
  line-height: 14px;
  font-size: 14px;
  color: #777;
}
#chat-container #chat-header .header-icon {
  padding: 8px;
  color: #777;
}
#chat-container #chat-msg-area {
  flex-grow: 1;
  padding: 0 12px;
}
#chat-container #chat-input {
  height: 64px;
  flex-shrink: 0;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,700,500,900");
* {
  box-sizing: border-box;
  font-family: Roboto;
  transition: all 0.5s ease;
}
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#app,
#content {
  width: 100%;
  height: 100%;
}
#main-page {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
}
#teams-column {
  width: 80px;
  height: 100%;
  background: #253256;
  flex-grow: 0;
  flex-shrink: 0;
}
#sidebar {
  min-width: 240px;
  max-width: 360px;
  height: 100%;
  background: #2f3f70;
  flex-grow: 1;
  box-shadow: -3px 0 6px rgba(0,0,0,0.16), -3px 0 6px rgba(0,0,0,0.23);
}
#chat-column {
  background: #efefef;
  min-width: 360px;
  height: 100%;
  flex-grow: 1;
  box-shadow: -3px 0 6px rgba(0,0,0,0.19), -3px 0 6px rgba(0,0,0,0.23);
  z-index: 1;
}
#notes-column {
  min-width: 360px;
  height: 100%;
  flex-grow: 1;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,700,500,900");
* {
  box-sizing: border-box;
  font-family: Roboto;
  transition: all 0.5s ease;
}
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#app,
#content {
  width: 100%;
  height: 100%;
}
#sidebar-container {
  width: 100%;
  height: 100%;
}
#sidebar-header {
  height: 64px;
  width: 100%;
  position: relative;
  color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.12);
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-user-select: none;
  z-index: 2;
}
#sidebar-header .team-name {
  line-height: 64px;
  font-size: 18px;
  padding-left: 12px;
  padding-right: 12px;
  transition: all 0.1s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  flex-grow: 1;
}
#sidebar-header .team-name:hover {
  background-color: #253256;
}
#sidebar-header .header-icon {
  flex-grow: 0;
}
#sidebar-header .header-icon:last-child {
  margin-right: 12px;
}
#conversation-list {
  height: calc(100% - 64px);
  width: 100%;
  overflow: scroll;
  color: #fff;
}
#conversation-list .conversation-item {
  width: 100%;
  height: 72px;
  background: #2f3f70;
  display: flex;
  display: -webkit-flex;
  position: relative;
  cursor: pointer;
}
#conversation-list .conversation-item:hover {
  background: #253256;
}
#conversation-list .conversation-item.active {
  background: #8395cb;
}
#conversation-list .conversation-item.active:after {
  content: none;
}
#conversation-list .conversation-item.active .chat-main .chat-title {
  font-weight: 700;
}
#conversation-list .conversation-item:after {
  content: '';
  position: absolute;
  width: 80%;
  height: 1px;
  bottom: 0;
  left: 10%;
  background: #253256;
}
#conversation-list .conversation-item .chat-avatar {
  padding: 12px 12px 12px 12px;
}
#conversation-list .conversation-item .chat-body {
  padding-top: 12px;
  padding-right: 12px;
  flex-grow: 1;
  max-width: calc(100% - 73px);
}
#conversation-list .conversation-item .chat-main {
  display: flex;
  display: -webkit-flex;
  align-items: baseline;
}
#conversation-list .conversation-item .chat-main .chat-title {
  flex-grow: 1;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#conversation-list .conversation-item .chat-main .chat-time {
  text-align: right;
  font-size: 12px;
  font-weight: 300;
  white-space: nowrap;
  margin-left: 12px;
}
#conversation-list .conversation-item .chat-secondary {
  font-size: 12px;
  line-height: 19px;
  margin-top: 3px;
  margin-right: 24px;
  font-weight: 300;
  display: flex;
  display: -webkit-flex;
}
#conversation-list .conversation-item .chat-secondary .chat-status {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#conversation-list .conversation-item .chat-secondary .chat-badge {
  min-width: 36px;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,700,500,900");
* {
  box-sizing: border-box;
  font-family: Roboto;
  transition: all 0.5s ease;
}
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#app,
#content {
  width: 100%;
  height: 100%;
}
#team-list {
  height: 100%;
  padding: 12px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
}
.team-item {
  color: #253256;
  background: #efefef;
  margin: 10px auto;
  height: 56px;
  width: 56px;
  position: relative;
  border-radius: 5px;
  opacity: 0.3;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.team-item:hover {
  opacity: 1;
  box-shadow: 0 19px 38px rgba(0,0,0,0.3), 0 15px 12px rgba(0,0,0,0.22);
}
.team-item:first-child {
  margin-top: 0;
}
.team-item.active {
  opacity: 1;
}
.team-item.active:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: -14px;
  transform: translateY(-50%);
  border-left: 10px solid #fff;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.team-item.no-box {
  background: transparent;
  color: #fff;
  box-shadow: none;
}
.team-item.add-team,
.team-item.team-settings {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}
.team-item.team-settings {
  position: absolute;
  bottom: 12px;
  left: 12px;
  margin: 0;
  z-index: 9999;
}
.team-item img {
  width: 90%;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,700,500,900");
* {
  box-sizing: border-box;
  font-family: Roboto;
  transition: all 0.5s ease;
}
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#app,
#content {
  width: 100%;
  height: 100%;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0,0,0,0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0,0,0,0.26);
}
/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: #fff;
}
.material-icons.md-light.md-inactive {
  color: rgba(255,255,255,0.3);
}


/*# sourceMappingURL=app.css.map*/